===== Funkcjonalnoœæ =====: 
Done # wyœwietliæ jakiœ fajny ASCII art 
Done # plansze 5x5, 8x8 ,10x10 (liczba atomów rosnie od 3 do 8)
# atomy rozmieszczane w sposób losowy (+ wyœwietlenie liczby atomów)
# strza³y powinny byæ numerowane (tym samym numerem wylot promienia)
# oznaczenie trafienia atomu (H) i odbicia (R)
# oznaczanie przypuszczalnego po³o¿enia atomu (o) --> max tyle ile jest atomów
# mo¿liwoœæ dowolnej zmiany + usuniêcia (o) 
# na zakoñczenie poziomu wyœwietlenie prawdziwej pozycji atomów
- poprawna pozycja --> (O); 
- b³êdna pozycja --> (X);
- wyœwietlenie liczby poprawnie zaznaczonych atomów
Done # w dowolnym momencie mo¿liwoœæ:
- przejœcia do menu; 
- wyjœcia z gry; 
- restartu poziomu;

===== Obs³uga programu =====:
# (w,s,a,d) - poruszanie sie
# (q,Q) - wyjœcie do menu
# u, U – undo (cofnij ruch);
# r, R – redo (powtórz cofniêty ruch);
# spacja oddanie strza³u (gdy kursor jest na dowolnej œcianie);
# o - na planszy umo¿liwia zaznaczenie przypuszczalnego po³o¿enia atomu;
# k – koñczy rozgrywkê i umo¿liwia wyœwietlenie rozwi¹zania i liczby uzyskanych punktów
(poprawnie znalezionych atomów);
# p – umo¿liwia wyœwietlenie rozwi¹zania (przerywa etap gry, brak mo¿liwoœci kontynuowania
tego etapu gry);
# H – Help/Pomoc – pokazuje na chwilê umieszczenie atomów na planszy
# pozosta³e pozostaj¹ do wyboru przez programistê; Klawisze steruj¹ce powinny byæ
zatwierdzane klawiszem enter. 

===== Kryteria Oceniania =====:

1. (3 pkt) Wyœwietlanie ekranu powitalnego z nazw¹ programu z imieniem, nazwiskiem i
numerem indeksu autora, mile widziana grafika w stylu ASCII art. Nastêpnie wyœwietlenie
przynajmniej jednej planszy, o rozmiarach 5×5 z trzema ukrytymi atomami. Gracz mo¿e
przemieszczaæ siê kursorem po ca³ej planszy i œcianach. W momencie zakoñczenia gry (klawisz
“k”) ukryte atomy maj¹ zostaæ pokazane.

2. Menu
a. (1 pkt) Wyœwietlanie planszy menu w dowolnym momencie rozgrywki, menu
umo¿liwia, wyjœcie z gry i rozpoczêcie etapu od nowa,
b. (1 punkt) Opcja Help/Pomoc – pokazuje na chwilê umieszczenie atomów na planszy.
c. (1 pkt) Wiele etapów (z wiêksz¹ liczb¹ ukrytych atomów), mo¿liwoœæ wyboru etapu z
poziomu menu.
d. (2 pkt) Opcja undo i redo (zag³êbienie min 5 ruchów).

3. (1 pkt) Losowe rozmieszczenie atomów na planszy (przy ka¿dym uruchomieniu etapu powinno
byæ inne rozmieszczenie).

4. (1 pkt) U¿ycie znaków tabelek z rozszerzonych kodów ASCII do wyœwietlenia obramowañ
planszy gry, plus estetyka programu

5. Plansze gry
a. (2 pkt) plansza 8×8 z 5 atomami.
b. (2 pkt) plansza 10×10 z 8 atomami.

# £¹cznie 14 pkt za projekt